<%- include("header") -%>

<h2>About</h2>

<p>
  This is a simple yet functional To-Do app designed to help you manage your
  tasks efficiently. Built with a clean and intuitive interface, it allows you
  to easily add, edit, and delete tasks. Whether you're keeping track of daily
  chores or planning a project, this app provides a straightforward solution for
  staying organized. Perfect for personal use or as a starting point for more
  complex task management applications.
</p>
<%- include("btn-group")-%> <%- include("footer") -%>
