<%- include("header") -%>

<h2>this is the About page</h2>

<p>there is alot of bull shit that is going on here at gotham. were going tp have to get that all straighten out before the department of Health comes knocking at our doors</p>

<%- include("footer") -%>